.benefits__list {
  display: flex;
}

.benefits__item {
  flex-basis: calc(100% / 3);
  margin: 0 auto;
}

// .about__container {
//   display: flex;
//   gap: 64px;
// }

// .about__left-side {
//   display: flex;
//   gap: 30px;
//   // margin-right: 64px;
// }
// .about__right-side {
//   flex-basis: 500px;
// }
