.footer {
  margin: 56px 0;
}
.footer__container {
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-light-color);
}
