.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.container {
  // display: flex;
  width: 1378px;
  padding: 0 20px;
  margin: 0 auto;

  // Оутлайн - убрать
  outline: 1px lightblue solid;
}

.hero {
  padding-bottom: 90px;
}

.hero__container,
.about__container,
.praicing__container,
.footer__container {
  display: flex;
}

.footer__container {
  align-items: center;
}

.left-side {
  width: 540px;
}
