:root {
  // fonts
  --main-font: "Poppins", sans-serif;

  // colors
  --primary-dark-color: rgba(0, 0, 0, 1);
  --secondary-dark-color: rgba(38, 50, 56, 1);
  --primary-text-color: rgba(143, 149, 165, 1);
  --secondary-text-color: rgba(84, 98, 105, 1);
  --primary-background-color: rgba(245, 245, 245, 1);
  --secondary-background-color: rgba(238, 238, 238, 1);
}

// :root {
//   // fonts
//   --main-font: "Open Sans", sans-serif;
//   --secondary-font: "Raleway", sans-serif;

//   // colors
//   --primary-dark-color: rgba(48, 48, 48, 1);
//   --secondary-dark-color: rgba(85, 85, 85, 1);
//   --primary-light-color: rgba(255, 255, 255, 1);
//   --secondary-light-color: rgba(157, 164, 189, 1);
//   --primary-accent-color: rgba(255, 108, 0, 1);
//   --dark-bg-color: rgba(25, 28, 38, 1);
//   --light-bg-color: rgba(247, 247, 247, 1);
// }
